.other-animes-container {
  text-align: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #26262a;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  .search-anime{
    margin-top: 5rem;
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p{
      width: 80%;
    }
      div{
        width: 100%;
      }
    .top-searches-anime{
      
      &:hover{
        cursor: pointer;
        color: #ffdd95;
      }
    }
    img{
      width: 200px;
      margin-bottom: 2rem;
      margin-right: 15rem;
      height: 50px;
    }

    input{
      width: 80%;
      height: 50px;
      border-radius: 30px;
      font-size: 20px;
    }
    button{
      width: 10%;
      height: 50px;
      border-radius: 30px;
      margin-left: 5px;
      font-size: 20px;
      background-color: #ffdd95;
      border: none;
      cursor: pointer;
    }

  }
  .aniwatchtvImage{
    margin-top: 5rem;

    img{
      width: 70%;
      height: 70%;
    }

  }
}


.get-anime-by-search{
  width: 100%;
  height: 100%;
  background-color: #26262a;

    .go-back{
      font-size:25px;
      &:hover{
        cursor: pointer;
        opacity: 0.5;
        
      }
    }
  input{
    width: 80%;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
  }
  button{
    width: 10%;
    height: 50px;
    border-radius: 30px;
    margin-left: 5px;
    font-size: 20px;
    background-color: #ffdd95;
    border: none;
    cursor: pointer;
  }
  h3{
   color: #ffdd95;
  }


  .anime-list{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    width: 100%;
    row-gap: 5rem;
    margin-left: 1rem;
    .anime-card{
      height: 15rem;
      width: 100%;
      position: relative;

      &:hover{
        .play-button{
          opacity: 1;
        }
        img{
          cursor: pointer;
          filter: blur(5px);
        }
        .anime-info{
          display: block;  
     }
      }

      .anime-info{
        position: absolute;
        top: -170px;
        left: 100px;
        width: 300px;
        min-height: 300px;
        height: auto;
      background-color: #3a3a3e;
      color: white;
        display: none;
      z-index: 2;
      border-radius: 10px;
      .more-info{
        display: flex;
        justify-content: space-between;
        
        .type{
          background-color: #ffdd95;
          border-radius: 5px;
          color: black;
        }

        p{
          margin: 0;
        }
      }
      .anime-details{
        p{
          margin: 0;
        }
      }
      }

    

      .play-button{
        position: absolute;
        top: 20%;
        left: 30%;
        font-size: 40px;
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
        z-index: 1;
        cursor: pointer;
      }

      img{
        width: 100%;
        height: 100%;
        transition: filter 0.1s ease-in-out;
 
      
      }
    }
  }
}


.anime-page-container{
  display: grid;
  grid-template-columns: 74% 24%;
  gap: 20px;
  height: 100%;
  width: 100%;
  background-color: #26262a;
  margin-top: 2rem;
}

.popular-anime-container{
    margin-top: 5rem;
    width: 100%;

     .anime-card{
      width: 100%;
      height: 5rem;
      background-color: gray;
      display: flex;
      flex-direction: row;
      align-items: center;
       
      &:hover{
        cursor: pointer;
        background-color: #3a3a3e;
      }
      img{
        height: 80%;
        width: 50px;
        border-radius: 10px;
        margin-left: 1rem;
      }
     }
}


.filtered-anime-container{
  height: 100vh;
  width: 100%;

  background-color: #26262a;
  display: grid;
  grid-template-columns: 70% 30%;
  color: white;
  margin-top: 2rem;


.side-info{
  display: flex;
  flex-direction: column;
 

  margin-top: 5rem;
}

  .important-info{
    display: grid;
    grid-template-columns: 20% 80%;

      .synopsis-shower{
        background-color: #ffdd95;
        width: 100px;
        border: none;
        height: 25px;
        border-radius: 20px;
        cursor: pointer;
        &:hover{
opacity: 0.7;        }
      }
    .go-back{
      font-size:25px;
    
      &:hover{
        cursor: pointer;
        opacity: 0.5;
        
      }
    }
    .watch-now{
      width: 150px;
      height: 35px;
      margin-right: 2rem;
      background-color: #ffdd95;
      font-size: 17px;
      border-radius: 20px;
      border: none;
      &:hover{
        cursor: pointer;
        opacity: 0.8;
      }
    }
    .add-to-list{
      width: 150px;
      height: 35px;
      background-color: #ffffff;
      font-size: 17px;
      border-radius: 20px;
      border: none;
      &:hover{
        cursor: pointer;
        opacity: 0.8;
      }
    }

    div{
      margin-left: 15rem;
      margin-top: 3rem;
    }
    p{
      width: 80%;

    }
    img{
      margin-left: 5rem;
      margin-top: 5rem;
      object-fit: cover;
      width: 22rem;
      height: 25rem;
    }
  }
}