.charactersContainer{
    height: 100%;
    padding-top: 24px;
    padding-bottom: 7.6rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}
.charactersDetailsContainer{
        background-color: orange;
        width: 40%;
        margin-left: 30%;
        min-height: 13rem;
        border-radius: 100px;
        font-family: Arial, Helvetica, sans-serif;
   
}
.charactersContainer{
    text-align: center;
}
#searchButton, #searchJutsu {
    background-color: lightgreen;
    border-radius: 20px;
    width: 100px;
    height: 25px;
    border: 2px solid green;
    cursor: pointer;
    margin-left: 5px;
}
.resetButton{
    background-color: lightcoral;
    border-radius: 20px;
    width: 100px;
    height: 25px;
    border: 2px solid red;
    cursor: pointer;
}
.jutsuContainer {
    background-color: orange;
    width: 40%;
    margin-left: 30%;
    min-height: 13rem;
    border-radius: 100px;
 
}
.jutsuMargin{
    margin-top: 5rem;
}
@media (max-width: 767px){
    .charactersDetailsContainer, .jutsuContainer{
        width: 80%;
        margin-left: 10%;
        border-radius: 20px;
    }
    .charactersContainer h1 {
        margin-top: 3rem;
    }
}

@media (min-width: 768px) and (max-width: 1223px){
    .charactersDetailsContainer, .jutsuContainer{
        width: 65%;
        margin-left: 17.5%;
    }
    .charactersContainer{
        height: 100vh;
    }
   
}
@media (max-width: 1024px) and (max-height: 600px){
    .charactersDetailsContainer , .jutsuContainer{
        width: 50%;
        margin-left: 25%;
    }
}